*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    background-color:#FFFFFF ;
    margin: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.page-head{
    background-color: #E7E9FC;
    border-bottom: 1px solid #e7e9fc
}

.navigation .links:focus,
.navigation .links:hover{
    color: #404BBF;
}

.links-adr:focus,
.links-adr:hover{
    color: #404bbf ;
}

.page-title{
    font-size: 56px;
    color: #FFFF;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
}

.header-section-frst{
    background-color: #2e2f42;
    padding: 188px 0;
}

.order-button{
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none; 
    border-radius: 4px;
    cursor: pointer;
}

.order-button:hover,
.order-button:focus{
    background-color: #404BBF;
}

.section-header-h{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    font-weight: 500;
    margin-bottom: 72px;
}

.subtitle{
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    font-weight: 500;
    margin-bottom: 8px;
}

.logo{
    display: block;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.logo-span{
    color: #2e2f42;

}

.links{
    color: #2e2f42;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.links-adr{
    color:  #434455;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.foot-section{
    background-color: #2E2F42;
    padding: 100px 0;
}

address{
    font-style: normal;
    color: #434455;
}

.subtitle-portfolio{
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    font-weight: 500;
}

.paragraf{
    letter-spacing: 0.02em;
}

.footer-par{
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.logo-span-foot{
    color: #f4f4fd;
}

.our-team-section{
    background-color: #F4F4FD;
    padding: 120px 0;

}

.li-our-team{
    background-color: #FFFFFF;
}

.parag{
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
}

img{
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}

.menu{
    display: flex;
    gap: 40px;
}

.container.header{
    display: flex;
    margin: 0 auto;
    padding: 24px 156px;
    align-items: center;
     justify-content: space-between;
    justify-content: space-around;
    width: 1158px; 
    padding: 0 15px;
}

.navigation{
    display: flex;
    align-items: center;
}

.address{
    display: flex; 
    gap: 40px;
}

.container.footer{

}

.logo.foot{
    display: inline-block;
    margin-bottom: 16px;
}

.core-values-section{
    padding: 120px 0;
}

.core-list{
    display: flex;
    gap: 24px;
}

.lst{
    width: calc((100% - 72px) / 4); 
}

.list-our-tm{
    display: flex;
    gap: 24px;
}

.li-our-team{
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.sec-container{
    padding: 32px 0;
}

.header-section{
    padding: 120px 0 120px 0;
}

.ul-header-section{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.list-header-sec{
    width: calc((100% - 48px) / 3);
}

.list-header-contain{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.subtitle-portfolio{
    margin-bottom: 8px;
}

.links.header{
    padding: 24px 0;
}

ul,
ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}